@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
.background{
    background-image: linear-gradient( rgba(99, 46, 227, 1),rgba(159, 98, 242, 1) 100%);
}
.gradient{
    background-image: linear-gradient( rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.active{
    background-image: linear-gradient( rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-bottom: 5px solid rgba(128, 0, 128, 0.725);
}

    
         .btn-grad {background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%)}
         .btn-grad {
            padding-top: 7px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
           
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

          
         .btn-grad1 {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
         .btn-grad1 {
           
            padding-top: 8px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
           
            display: block;
          }

          .btn-grad1:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
         
         
